* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  display: inline-block;
}

header {
  width: 100%;
  height: 55px;

  z-index: 1;
}

header label img {
  width: 40px;
  height: 40px;
  
}

header label {
  display: block;
  width: 30px;
  height: 30px;
  padding: 10px;
}

header label:hover {
  cursor: pointer;
}

header h3 {
  color: aliceblue;
  width: 50%;
  transform: translateX(50px) translateY(-140%);
}


#Stream {
  position: absolute;
  z-index: 100;
  width: 70%;
  margin-left: -70%;
  transition: all 0.5s;
}

#menu {
  display: none;
}

#menu:checked~#Stream {
  margin: 0;
}
#menu:checked~#uno{
  display: none;
}

#contenedor{

    position: relative;

}

#uno {

  position: absolute;
  z-index:70;
  top: 10px;
  left:10px ;
}

.tres{
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 1;
  top: 0;
}

.dos {

  background-color:black;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 5;
  
}