* {
    margin: 0;
    padding: o;
  
  }

  body{
      background-color: black;

  }

  #form{
    height: 200px;
    width: 400px;
    position: fixed;
    justify-content: center;
    top: 35%;
    left:25%;
  }

  .fondo{
    width: 100%;
    height: 100vh;
  }
  .fondo img{
    width: 100%;
    height: 100vh;
  }